// Typography

$base-font-size: 1.125em;
$large-font-size: 2rem;

// Margins

$small-margin: 10px;
$base-margin: 18px;
$large-margin: 36px;

// Colors

$black-transparent: hsla(0deg,0%,0%,0.3);
$white: hsl(100deg, 100%, 100%);
