@use 'src/styles/vars';

.title {
  position: relative;
  .title__image {
    width: 100%;
    
    img {
      width: 100%;
      border-radius: 0 0 vars.$base-margin vars.$base-margin;
    }
  }

  .title__content {
    background: vars.$black-transparent;
    color: vars.$white;
    position: absolute;
    bottom: vars.$large-margin;
    left: 0;
    right: 0;
    padding: vars.$large-margin;
    text-align: center;

    .title__content__heading {
      font-size: vars.$large-font-size;
      font-weight: 700;
      font-style: italic;
    }

    .title__content__description {
      margin-block-start: vars.$small-margin;
    }
  }
}
